<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youruan.dentistry.core.platform.mapper.EmployeeRoleMapper">
  <resultMap id="BASE_RESULT" type="com.youruan.dentistry.core.platform.domain.EmployeeRole">
    <id property="id" column="id"/>
    <result property="createdDate" column="createdDate"/>
    <result property="lastModifiedDate" column="lastModifiedDate"/>
    <result property="version" column="version"/>
    <result property="employeeId" column="employeeId"/>
    <result property="roleId" column="roleId"/>
  </resultMap>
  <sql id="BASE_COLUMNS">er.id, er.createdDate, er.lastModifiedDate, er.version,er.employeeId,er.roleId</sql>
  <sql id="QUERY_COLUMNS">er.id, er.createdDate, er.lastModifiedDate, er.version,er.employeeId,er.roleId</sql>
  <resultMap id="VO_RESULT" type="com.youruan.dentistry.core.platform.vo.ExtendedEmployeeRole" extends="BASE_RESULT"/>
  <sql id="JOIN_COLUMNS"/>
  <select id="get" resultMap="BASE_RESULT" parameterType="java.lang.Long">SELECT 
    <include refid="BASE_COLUMNS"/> FROM EmployeeRole er WHERE id = #{id }
  </select>
  <delete id="delete" parameterType="java.lang.Long">DELETE FROM EmployeeRole WHERE id = #{id}</delete>
  <insert id="add" parameterType="com.youruan.dentistry.core.platform.domain.EmployeeRole" useGeneratedKeys="true" keyProperty="id" keyColumn="id">INSERT INTO EmployeeRole(id, createdDate, version,employeeId,roleId) VALUES(#{id }, #{createdDate}, 0, #{employeeId}, #{roleId})</insert>
  <insert id="batchAdd" parameterType="java.util.List">INSERT INTO EmployeeRole(id, createdDate, version,employeeId,roleId) VALUES 
    <foreach collection="values" item="value" separator=",">(#{value.id}, #{value.createdDate}, 0, #{value.employeeId}, #{value.roleId})</foreach>
  </insert>
  <update id="update" parameterType="com.youruan.dentistry.core.platform.domain.EmployeeRole">UPDATE EmployeeRole
    <set>lastModifiedDate = now(), version = version + 1</set>
    <where>id = #{id} AND version = #{version}</where>
  </update>
  <sql id="QUERY_JOIN"/>
  <sql id="QUERY_WHERE_SQL">
    <if test="ids != null">AND er.id IN
      <foreach collection="ids" item="id" open="(" close=")" separator=", ">#{id }</foreach>
    </if>
    <if test="startCreatedDate != null">AND er.createdDate &gt;= #{startCreatedDate }</if>
    <if test="endCreatedDate != null">AND er.createdDate &lt;= #{endCreatedDate }</if>
    <if test="employeeId != null">AND er.employeeId = #{employeeId}</if>
    <if test="roleId != null">AND er.roleId = #{roleId}</if>
  </sql>
  <sql id="QUERY_WHERE">
    <where>
      <include refid="QUERY_WHERE_SQL"/>
    </where>
  </sql>
  <sql id="QUERY_ORDER_BY">
    <if test="orderBys.size() &gt; 0">ORDER BY
      <foreach collection="orderBys" item="value" index="key" separator=", ">er.${key} ${value}</foreach>
    </if>
  </sql>
  <sql id="QUERY_LIMIT">
    <if test="pageSize &gt; 0">LIMIT ${start}, ${pageSize}</if>
  </sql>
  <select id="count" parameterType="com.youruan.dentistry.core.platform.query.EmployeeRoleQuery" resultType="java.lang.Integer">SELECT COUNT(*) FROM EmployeeRole AS er
    <include refid="QUERY_JOIN"/>
    <include refid="QUERY_WHERE"/>
  </select>
  <select id="query" parameterType="com.youruan.dentistry.core.platform.query.EmployeeRoleQuery" resultMap="VO_RESULT">SELECT
    <include refid="QUERY_COLUMNS"/>
    <include refid="JOIN_COLUMNS"/> FROM EmployeeRole AS er
    <include refid="QUERY_JOIN"/>
    <include refid="QUERY_WHERE"/>
    <include refid="QUERY_ORDER_BY"/>
    <include refid="QUERY_LIMIT"/>
  </select>
</mapper>
