<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youruan.dentistry.core.enroll.mapper.EnrollMapper">
    <resultMap id="BASE_RESULT" type="com.youruan.dentistry.core.enroll.domain.Enroll">
        <id property="id" column="id"/>
        <result property="createdDate" column="createdDate"/>
        <result property="lastModifiedDate" column="lastModifiedDate"/>
        <result property="version" column="version"/>
        <result property="orderNo" column="orderNo"/>
        <result property="price" column="price"/>
        <result property="type" column="type"/>
        <result property="orderStatus" column="orderStatus"/>
        <result property="userId" column="userId"/>
        <result property="activityId" column="activityId"/>
    </resultMap>
    <resultMap id="ENROLL_ACTIVITY_RESULT" type="com.youruan.dentistry.core.enroll.vo.EnrollActivityVo" extends="BASE_RESULT">
        <result property="title" column="title"/>
        <result property="linkUrl" column="linkUrl"/>
        <result property="imageUrl" column="imageUrl"/>
        <result property="content" column="content"/>
    </resultMap>
    <sql id="BASE_COLUMNS">en.id, en.createdDate, en.lastModifiedDate, en.version,en.orderNo,en.type,en.orderStatus,en.userId,en.activityId</sql>
    <sql id="QUERY_COLUMNS">en.id, en.createdDate, en.lastModifiedDate, en.version,en.orderNo,en.type,en.orderStatus,en.userId,en.activityId</sql>
    <resultMap id="VO_RESULT" type="com.youruan.dentistry.core.enroll.vo.ExtendedEnroll" extends="BASE_RESULT">
        <result property="realName" column="realName"/>
        <result property="phoneNumber" column="phoneNumber"/>
    </resultMap>
    <sql id="JOIN_COLUMNS">,ru.realName,ru.phoneNumber</sql>
    <sql id="JOIN_COLUMNS_ACTIVITY">,a.title,a.imageUrl,a.linkUrl,a.content</sql>
    <select id="get" resultMap="BASE_RESULT" parameterType="java.lang.Long">SELECT
        <include refid="BASE_COLUMNS"/> FROM Enroll en WHERE id = #{id }
    </select>
    <select id="getByOrderNo" resultMap="BASE_RESULT" parameterType="java.lang.String">SELECT
        <include refid="BASE_COLUMNS"/> FROM Enroll en WHERE orderNo = #{orderNo}
    </select>
    <delete id="delete" parameterType="java.lang.Long">DELETE FROM Enroll WHERE id = #{id}</delete>

    <insert id="add" parameterType="com.youruan.dentistry.core.enroll.domain.Enroll" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO Enroll(createdDate,version,orderNo,price,`type`,orderStatus,userId,activityId)
        VALUES(#{createdDate},0,#{orderNo},#{price},#{type},#{orderStatus},#{userId},#{activityId})
    </insert>

    <update id="update" parameterType="com.youruan.dentistry.core.enroll.domain.Enroll">
        UPDATE Enroll
        <set>
            lastModifiedDate = now(),
            version = version + 1,
            orderNo = #{orderNo},
            `type` = #{type},
            orderStatus = #{orderStatus}
        </set>
        <where>id = #{id} AND version = #{version}</where>
    </update>
    <update id="setOrderStatus" parameterType="com.youruan.dentistry.core.enroll.domain.Enroll">
        UPDATE Enroll
        <set>
            lastModifiedDate = now(),
            version = version + 1,
            orderStatus = 1
        </set>
        <where>orderNo = #{orderNo} AND version = #{version}</where>
    </update>

    <sql id="QUERY_JOIN">LEFT JOIN registereduser AS ru ON en.userId = ru.id</sql>
    <sql id="QUERY_JOIN_ACTIVITY">LEFT JOIN activity AS a ON en.activityId = a.id</sql>
    <sql id="QUERY_WHERE_SQL">
        <if test="ids != null">AND en.id IN
            <foreach collection="ids" item="id" open="(" close=")" separator=", ">#{id }</foreach>
        </if>
        <if test="startCreatedDate != null">AND en.createdDate &gt;= #{startCreatedDate }</if>
        <if test="endCreatedDate != null">AND en.createdDate &lt;= #{endCreatedDate }</if>
        <if test="orderNo != null">AND en.orderNo = #{orderNo}</if>
        <if test="likeOrderNo != null">AND en.orderNo LIKE CONCAT('%', #{likeOrderNo} ,'%')</if>
        <if test="type != null">AND en.type = #{type}</if>
        <if test="orderStatus != null">AND en.orderStatus = #{orderStatus}</if>
        <if test="userId != null">AND en.userId = #{userId}</if>
        <if test="activityId != null">AND en.activityId = #{activityId}</if>
    </sql>
    <sql id="QUERY_WHERE">
        <where>
            <include refid="QUERY_WHERE_SQL"/>
        </where>
    </sql>
    <sql id="QUERY_ORDER_BY">
        <if test="orderBys.size() &gt; 0">
            ORDER BY
            <foreach collection="orderBys" item="value" index="key" separator=", ">en.${key} ${value}</foreach>
        </if>
    </sql>
    <sql id="QUERY_LIMIT">
        <if test="pageSize &gt; 0">LIMIT ${start}, ${pageSize}</if>
    </sql>
    <select id="count" parameterType="com.youruan.dentistry.core.enroll.query.EnrollQuery" resultType="java.lang.Integer">
        SELECT COUNT(en.id) FROM Enroll AS en
        <include refid="QUERY_JOIN"/>
        <include refid="QUERY_WHERE"/>
    </select>
    <select id="countByUserIdAndActivityId" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM Enroll AS en
        where userId = #{userId} and activityId = #{activityId}
    </select>
    <select id="countByUserIdAndType" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM Enroll AS en
        where userId = #{userId} and `type` = #{type}
    </select>
    <select id="query" parameterType="com.youruan.dentistry.core.enroll.query.EnrollQuery" resultMap="VO_RESULT">
        SELECT
        <include refid="QUERY_COLUMNS"/>
        <include refid="JOIN_COLUMNS"/> FROM Enroll AS en
        <include refid="QUERY_JOIN"/>
        <include refid="QUERY_WHERE"/>
        <include refid="QUERY_ORDER_BY"/>
        <include refid="QUERY_LIMIT"/>
    </select>
    <select id="queryOne" resultMap="BASE_RESULT">
        SELECT
        <include refid="QUERY_COLUMNS"/>
         FROM Enroll AS en
        WHERE userId = #{userId} AND `type` = #{type}
    </select>
    <select id="list" resultMap="VO_RESULT">
        SELECT
        <include refid="QUERY_COLUMNS"/>
        FROM Enroll AS en
    </select>
    <select id="getActivityIdsByUserId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT activityId
        FROM Enroll AS en
        WHERE userId = #{userId} and `type` = 2
    </select>
    <select id="listByUser" parameterType="java.lang.Long" resultMap="ENROLL_ACTIVITY_RESULT">
        SELECT
        <include refid="QUERY_COLUMNS"/>
        <include refid="JOIN_COLUMNS_ACTIVITY"/> FROM Enroll AS en
        <include refid="QUERY_JOIN_ACTIVITY"/>
        WHERE userId = #{userId}
    </select>
</mapper>