$color-primary: #1890ff;
$color-info: #17a2b8;
$color-primary-lightest: #e6f7ff;
$color-success: #52c41a;
$color-success-lightest: #f7fdf3;
$color-warning: #faad14;
$color-warning-lightest: #fff7e6;
$box-shadow-base: 0 2px 8px rgba(0, 0, 0, .15);
