<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youruan.dentistry.core.user.mapper.UserOtherInfoMapper">
  <resultMap id="BASE_RESULT" type="com.youruan.dentistry.core.user.domain.UserOtherInfo">
    <id property="id" column="id"/>
    <result property="createdDate" column="createdDate"/>
    <result property="lastModifiedDate" column="lastModifiedDate"/>
    <result property="version" column="version"/>
    <result property="school" column="school"/>
    <result property="major" column="major"/>
    <result property="education" column="education"/>
    <result property="job" column="job"/>
    <result property="area" column="area"/>
    <result property="userId" column="userId"/>
  </resultMap>
  <sql id="BASE_COLUMNS">uoi.id, uoi.createdDate, uoi.lastModifiedDate, uoi.version,uoi.school,uoi.major,uoi.education,uoi.job,uoi.area,uoi.userId</sql>
  <sql id="QUERY_COLUMNS">uoi.id, uoi.createdDate, uoi.lastModifiedDate, uoi.version,uoi.school,uoi.major,uoi.education,uoi.job,uoi.area,uoi.userId</sql>
  <resultMap id="VO_RESULT" type="com.youruan.dentistry.core.user.vo.ExtendedUserOtherInfo" extends="BASE_RESULT"/>
    <sql id="JOIN_COLUMNS"></sql>
  <select id="get" resultMap="BASE_RESULT" parameterType="java.lang.Long">SELECT
    <include refid="BASE_COLUMNS"/> FROM UserOtherInfo uoi WHERE userId = #{userId}
  </select>
  <delete id="delete" parameterType="java.lang.Long">DELETE FROM UserOtherInfo WHERE id = #{id}</delete>

  <insert id="add" parameterType="com.youruan.dentistry.core.user.domain.UserOtherInfo" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO UserOtherInfo(createdDate,version,school,major,education,area,job,userId)
    VALUES (#{createdDate},0,#{school},#{major},#{education},#{area},#{job},#{userId})
    </insert>

  <update id="update" parameterType="com.youruan.dentistry.core.user.domain.UserOtherInfo">
    UPDATE UserOtherInfo
    <set>
        lastModifiedDate = now(),
        version = version + 1,
        <if test="school != null">school = #{school},</if>
        <if test="major != null">major = #{major},</if>
        <if test="education != null">education = #{education},</if>
        <if test="job != null">job = #{job},</if>
        <if test="area != null">area = #{area},</if>
    </set>
    <where>userId = #{userId} AND version = #{version}</where>
  </update>

</mapper>
