<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youruan.dentistry.core.activity.mapper.ActivityMapper">
    <resultMap id="BASE_RESULT" type="com.youruan.dentistry.core.activity.domain.Activity">
        <id property="id" column="id"/>
        <result property="createdDate" column="createdDate"/>
        <result property="lastModifiedDate" column="lastModifiedDate"/>
        <result property="version" column="version"/>
        <result property="title" column="title"/>
        <result property="price" column="price"/>
        <result property="imageUrl" column="imageUrl"/>
        <result property="content" column="content"/>
        <result property="numberOfEntries" column="numberOfEntries"/>
        <result property="releaseStatus" column="releaseStatus"/>
        <result property="enrollStatus" column="enrollStatus"/>
        <result property="recentId" column="recentId"/>
        <result property="recentEditor" column="recentEditor"/>
    </resultMap>
    <sql id="BASE_COLUMNS">a.id, a.createdDate, a.lastModifiedDate, a.version,a.title,a.price,a.imageUrl,a.content,a.numberOfEntries,a.releaseStatus,a.enrollStatus,a.recentId</sql>
    <sql id="QUERY_COLUMNS">a.id, a.createdDate, a.lastModifiedDate, a.version,a.title,a.price,a.imageUrl,a.content,a.numberOfEntries,a.releaseStatus,a.enrollStatus,a.recentId</sql>
    <resultMap id="VO_RESULT" type="com.youruan.dentistry.core.activity.vo.ExtendedActivity" extends="BASE_RESULT"/>
    <sql id="JOIN_COLUMNS">,e.realName AS recentEditor</sql>
    <select id="get" resultMap="BASE_RESULT" parameterType="java.lang.Long">SELECT
        <include refid="BASE_COLUMNS"/> FROM Activity a WHERE id = #{id }
    </select>
    <delete id="delete" parameterType="java.lang.Long">DELETE FROM Activity WHERE id = #{id}</delete>

    <insert id="add" parameterType="com.youruan.dentistry.core.activity.domain.Activity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO Activity(createdDate,version,title,imageUrl,content,numberOfEntries,releaseStatus,enrollStatus,recentId)
        VALUES(#{createdDate},0,#{title},#{imageUrl},#{content},#{numberOfEntries},#{releaseStatus},#{enrollStatus},#{recentId})
    </insert>

    <update id="update" parameterType="com.youruan.dentistry.core.activity.domain.Activity">
        UPDATE Activity
        <set>
            lastModifiedDate = now(),
            version = version + 1,
            <if test="title != null">title = #{title},</if>
            <if test="imageUrl != null">imageUrl = #{imageUrl},</if>
            <if test="content != null">content = #{content},</if>
            <if test="numberOfEntries != null">numberOfEntries = #{numberOfEntries},</if>
            <if test="releaseStatus != null">releaseStatus = #{releaseStatus},</if>
            <if test="enrollStatus != null">enrollStatus = #{enrollStatus},</if>
            <if test="recentId != null">recentId = #{recentId}</if>
        </set>
        <where>id = #{id} AND version = #{version}</where>
    </update>
    <update id="updateNumberOfEntries" parameterType="com.youruan.dentistry.core.activity.domain.Activity">
        UPDATE Activity
        <set>
            lastModifiedDate = now(),
            version = version + 1,
            numberOfEntries = #{numberOfEntries}
        </set>
        <where>id = #{id} AND version = #{version}</where>
    </update>

    <sql id="QUERY_JOIN">left join employee e on a.recentId = e.id</sql>
    <sql id="QUERY_WHERE_SQL">
        <if test="ids != null">AND a.id IN
            <foreach collection="ids" item="id" open="(" close=")" separator=", ">#{id }</foreach>
        </if>
        <if test="startCreatedDate != null">AND a.createdDate &gt;= #{startCreatedDate }</if>
        <if test="endCreatedDate != null">AND a.createdDate &lt;= #{endCreatedDate }</if>
        <if test="title != null">AND a.title = #{title}</if>
        <if test="likeTitle != null">AND a.title LIKE CONCAT('%', #{likeTitle} ,'%')</if>
        <if test="enrollStatus != null">AND a.enrollStatus = #{enrollStatus}</if>
        <if test="releaseStatus != null">AND a.releaseStatus = #{releaseStatus}</if>
    </sql>
    <sql id="QUERY_WHERE">
        <where>
            <include refid="QUERY_WHERE_SQL"/>
        </where>
    </sql>
    <sql id="QUERY_ORDER_BY">
        <if test="orderBys.size() &gt; 0">
            ORDER BY
            <foreach collection="orderBys" item="value" index="key" separator=", ">a.${key} ${value}</foreach>
        </if>
    </sql>
    <sql id="QUERY_LIMIT">
        <if test="pageSize &gt; 0">LIMIT ${start}, ${pageSize}</if>
    </sql>
    <select id="count" parameterType="com.youruan.dentistry.core.activity.query.ActivityQuery" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM Activity AS a
        <include refid="QUERY_WHERE"/>
    </select>
    <select id="query" parameterType="com.youruan.dentistry.core.activity.query.ActivityQuery" resultMap="VO_RESULT">
        SELECT
        <include refid="QUERY_COLUMNS"/>
        <include refid="JOIN_COLUMNS"/> FROM Activity AS a
        <include refid="QUERY_JOIN"/>
        <include refid="QUERY_WHERE"/>
        <include refid="QUERY_ORDER_BY"/>
        <include refid="QUERY_LIMIT"/>
    </select>
    <select id="list" resultMap="VO_RESULT">
        SELECT
            <include refid="QUERY_WHERE"/>
        FROM Activity AS a
    </select>
</mapper>